<div class="content">
	<div class="col-md-4 col-md-offset-4">
		<form name="form" novalidate class="login-form" ng-submit="register()" role="form">
			<legend>Create new account</legend>

	        <div class="form-group">
	        	<label for="email">Username</label>
	            <input class="form-control" ng-minlength="2" ng-maxlength="6" name="name" type="text" placeholder="Enter your username" data-ng-model="Credential.name" required />
	            <div ng-show="form.$submitted || form.name.$touched">
	                <div ng-show="form.name.$error.minlength" class="error">Username must be at least 2 characters.</div>
	                <div ng-show="form.name.$error.maxlength" class="error">Username only a maximum of 6 characters</div>
	                <div class="error" ng-show="form.name.$error.required">Username can not be blank.</div>
	            </div>
	        </div>
	        <div class="form-group">
	        	<label for="email">Email</label>
	            <input class="form-control" name="uEmail" type="email" placeholder="Enter your email address" data-ng-model="Credential.email" required />
	            <div ng-show="form.$submitted || form.uEmail.$touched">
	                <div ng-show="!emailStatus && blured" class="error">Email has already exits.</div>
	                <div class="error" ng-show="form.uEmail.$error.required">Email can not be blank</div>
	                <div class="error" ng-show="form.uEmail.$error.email">This is not a valid email.</div>
	            </div>
	        </div>
	        <div class="form-group">
	        	<label for="email">Password</label>
	            <input class="form-control" ng-minlength="6" name="uPass" type="password" placeholder="Enter your password" data-ng-model="Credential.password" required />
	            <div ng-show="form.$submitted || form.uPass.$touched">
	                <div ng-show="form.uPass.$error.minlength" class="error">Password must be at least 6 characters.</div>
	                <div class="error" ng-show="form.uPass.$error.required">Password can not be blank.</div>
	            </div>
	        </div>
	        <div class="form-group">
	        	<label for="email">Confirm password</label>
	            <input class="form-control" ng-minlength="6" name="ucPass" type="password" placeholder="Enter your confirm password" data-ng-model="Credential.confirmpassword" required />
	            <div ng-show="form.$submitted || form.ucPass.$touched">
	                <div ng-show="form.ucPass.$error.minlength" class="error">Confirm password must be at least 6 characters.</div>
	                <div class="error" ng-show="form.ucPass.$error.required">Confirm password can not be blank.</div>
	            </div>
	            <div ng-show="(form.uPass.$dirty && form.ucPass.$dirty) && (Credential.password != Credential.confirmpassword)">
	                <div class="error">Password must be equal.</div>
	            </div>
	        </div>
	        <div class="form-actions" style="margin-top:30px;">
	            <a href="/access/login" class="pull-left">Go back</a>
	            <button ng-disabled="(Credential.password != Credential.confirmpassword || form.$invalid)" type="submit" id="register-submit-btn" class="btn btn-primary pull-right">Register</button>
	        </div>
	    </form>
	</div>
</div>