<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/app/dashboard">Freelance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{ active: isActive('/app/dashboard') }">
                    <a href="/app/dashboard">Dashboard</a>
                </li>
                <li ng-class="{ active: isActive('/app/chat') }">
                    <a href="/app/chat?id={{ rootAuth.id }}">Chat Room</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-if="!rootAuth">
                <li><a href="/access/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-if="rootAuth">
                <li ng-cloak><a>{{rootAuth.name}}</a></li>
                <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>