<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="card card-inverse card-primary">
                <h1>Chat Application</h1>
                <div class="card-block card">
                    <ul class="chat"> <!-- ng-repeat here -->
                        <li class="right clearfix">
                        <span class="chat-img float-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=..." alt="User Avatar" class="rounded-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header"> <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>
                                <time>7 phút trước</time></small>
                                    <strong
                                    class="float-right primary-font">ahihi</strong>
                                </div>
                                <p>ahuhu</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <form ng-submit="onSubmit()" action="POST">
                        <div class="input-group">
                            <input id="btn-input" type="tẽt" class="form-control form-control-sm"
                            placeholder="Type your mesage here..." required
                            ng-model="model.mesage" name="mesage" /> <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                            </span>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>